/* место для вашего кода */
.body {
    max-width: 1440;
}
.header {
    margin: 92px auto;
    width: 1340px;
    height: 109px;
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;    
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
}
.header__link {
    text-underline-offset: 5px;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link_active {
    text-decoration: none;
}
.header__logo {
    position: relative;
    right: 70px;
    width: 148px;
    max-height: 105px;
}
.header__logo-images {
    width: 93%;
}
.header__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    text-underline-offset: 4px;
}
.main {
    font-family: Raleway;
}
.cover {
    position: relative;
    background: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 757px;
    width: 1440px;
    margin: auto;
    z-index: -1;
    font-family: Raleway;    
}
.overlay {
    position: absolute;
    background-color: rgba(0, 0,0, 0.6);
    inset: 0;  
}
.cover__title {
    position: relative;
    padding: 165px 50px 147px;
    color: #fff;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
}
.aligned-text {
    display: flex;
    margin-bottom: 20px;
    letter-spacing: 30px;
}
.aligned-text_center {
    justify-content: center;
    line-height: 100%;
}
.aligned-text_right {
    justify-content: flex-end;
    line-height: 100%;
    margin-bottom: 0;
}
.letter-spacing-extended {
    letter-spacing: 60px;
}
.no-letter-spacing {
    letter-spacing: 0;
}
.cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.cover__description-text {
    font-family: Raleway;
    margin-left: 422px;
    margin-bottom: 62px;
    word-spacing: 15px;
    line-height: 28px;
}
.bet-button {
    justify-content: end;
    background-color: transparent;
    color: #fff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal; 
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #fff;
    width: 257px;
    height: 52px;
    margin-right: 50px;
    margin-bottom: 62px;
}
.lots {
    width: 1340px;
    height: 580px;
    margin: 180px auto;
    z-index: -1;
}
.lots__heading {
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 40px 27px 40px;
}
.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
}
.card-link{
    position: relative;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    padding: 50px 40px;
    min-width: 430px;
    height: 450px;
}
.card-link{

}
.card__title {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
}
.card__text { 
    position: relative;
    font-size: 20px;
    font-weight: normal;
    line-height: 120%;
    z-index: 1; 
}
.card_type_film {
    background: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card_type_book {
    background: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.card_type_picture {
    background: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.lots__look-more-link { 
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    text-underline-offset: 4px;
}
.about {
    position: relative;
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    width: 1340px;
    min-height: 487px;
    margin: auto;
}
.about__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about__logo {
    width: 430px;
    height: 240px;
    padding: 0 95px;
    align-items: center;
    justify-items: center;
}
.about__logo-radius{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 190px;
    width: 240px;
    height: 240px;
}
.about__logo-image {
    width: 148px;
    max-height: 118px; 
}
.about__info {
    width: 885px;
    height: 388px;
    padding-top: 100px;
}
.about__title {
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 100px;
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    width: 1340px;
    max-height: 110px;
    margin: 180px auto 90px;    
}
.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-underline-offset: 4px;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list{
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 50px;
    list-style: none;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}
